/* full */
div#border{
    border: 6px solid gray;
    height: 283vh;
    margin: -1px 3px 0px -5px;

    /* top:-10x;
    left: -10px;
    right: -10px;
    bottom: -10px; */
}
div#wrapper{
    border: 10px solid #C2F784;
    height: 280vh;

    /* height: 2000px;
    width: 1485px; */
    /* width: 100%; */
}
div.welcome{
    background-color: black;
    /* height: 60px;
    width: 250px; */
    border: 6px solid red;
    color: white;
    border-radius: 25px;
    float: left;
    /* margin: 10px; */
    font-size: 25px;
    font-style: oblique;
}
div#wel{
    padding: 20px;
    height: 80px;
    width: 300px;
    margin: 20PX;
}
div#home{
    padding:20px 50px 0px 80px;
    height: 30px;
    width: 330px;
    border-radius: 40px;
    margin-left: -168px;
    margin-top: 30px;
}
div#mail{
    padding: 20px 70px 0px 90px;
    height: 150px;
    width: 280px;
    margin-top: 20px;
    margin-left: 200px;
    /* margin: 0px; */
}

/* circle */

div#offers{
    background-color:#1EAE98 ;
    border-radius: 100%;
    height: 320px;
    width: 320px;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin: 320px 20px 0px 200px;
    border: 5px solid gray;
    font-weight: 600;
    float: left;
    padding-top: 10px;
}
div#eo{
    margin: 50px 30px 20px 30px;
}
#register{
    border: 10px dashed red;
    margin-top: 300px;
    margin-bottom: 5px;
    margin-left: 50%;
    margin-right: 20%;
    text-align: center;
    padding-bottom: 15px;

}
label{
    color: red;
}

/* food */

#ten{
    background-color: black;
    /* margin: 20px 150px 50px 150px; */
    /* margin-left: 550px; */
    /* margin-right: 550px; */
    color: white;
    border: 5px solid red;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 20px 60px 20px 60px;
    border-radius: 35px;
    text-align: center;
    height: 30px;
    width: 300px;
    font-style: oblique; 
    margin-top: 30px; 
    margin-left: 35%;
    margin-right: 100px;
    margin-bottom: 0px;

}
div.yummy{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 30px; */
}


div.food{
    background-color:aqua;
    /* float: left; */
    margin: 40px;
    border-radius: 20px;
    border: 5px solid green;
    text-align: center;
    height: 300px;
    width: 300px;
    font-size: 20px;
    padding-bottom: 10px;

    /* display: inline-block; */

}

div.fun{
    color: #890596;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    
}

div#six{
    height: 300px;
    color: blue;
}

div#hey{
    color: blue;

}

